<!DOCTYPE HTML>
<html lang="en" ng-app="GameApp">
    <head>
        <title>Battle INF</title>

        <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="/foundation-6.5.1-complete/css/foundation.min.css" />

        <link type="text/css" rel="stylesheet" href="css/game.css">
        <link type="text/css" rel="stylesheet" href="css/battle_log.css">
        <link type="text/css" rel="stylesheet" href="css/item.css">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99579228-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-99579228-3');
        </script>
    </head>
    <body ng-controller="GameController">
        <div ng-show="messages.length > 0" style="width:0px;height:0px;overflow:visible;margin:auto;">
            <div style="background:rgba(0,0,0,0.8);position:fixed;padding:10px;z-index:200;width:400px;margin-left:-200px;border:1px solid white;border-top:0px;">
                <div class="button" style="float:right;" ng-click="clearMessages()">Clear</div>
                <div style="clear:both"></div>
                <div ng-repeat="messageObject in messages" style="padding:5px;">
                    {{messageObject.message}}
                </div>
            </div>
        </div>

        <div id="main_container" class="ng-cloak">
            <div id="battle_log">
                <div class="title">
                    BATTLE LOG
                    <button class="button" style="float:right;font-size:12px;" ng-click="player.clearLog()">Clear</button>
                </div>

                <div id="battle_log_content">
                    <div ng-repeat="entry in player.battleLog" style="margin-bottom:3px;" ng-bind-html="sce.trustAsHtml(entry.m)"></div>
                </div>
            </div>

            <div style="width:68%;float:right;padding-bottom:10px;">
                <!-- HEADER -->
                <div style="width:100%;height:97px;">
                    <div id="main_header">
                        <div style="padding-bottom:5px;">
                            <div style="float:left;margin-right:30px;">
                                <span style="font-size:10px;">MONEY</span><br>
                                <span style="font-size:20px;">${{addNumberCommas(player.money)}}</span>
                            </div>

                            <div style="float:left;margin-right:30px;">
                                <span style="font-size:10px;">INVENTORY</span><br>
                                <span style="font-size:20px;">{{player.inventory.length}} / {{player.inventoryMax}}</span>
                            </div>

                            <div style="float:left;margin-right:30px;">
                                <span style="font-size:10px;">HEROES</span><br>
                                <span style="font-size:20px;">{{player.heroes.length}} / {{player.heroMax}}</span>
                            </div>

                            <div style="float:left;margin-right:30px;">
                                <span style="font-size:10px;">LAND</span><br>
                                <span style="font-size:20px;">{{player.landUsed}} / {{player.landMax}}</span>
                            </div>

                            <div style="float:left;margin-right:30px;">
                                <span style="font-size:10px;">MONEY / MIN</span><br>
                                <span style="font-size:20px;">${{player.gpm}}</span>
                            </div>

                            <div class="view_header" style="float:right">
                                {{header}}
                            </div>

                            <div style="clear:both"></div>
                        </div>

                        <div id="tab_bar">
                            <div style="float:left;">
                                <a href="index.html#heroes" class="button" ng-class="{selected: location.path()==='/heroes'}">Heroes</a>
                                <a href="index.html#inventory" class="button" ng-class="{selected: location.path()==='/inventory'}" ng-show="player.unlock.inventory">Inventory</a>
                                <div ng-show="player.unlock.town" style="height:28px;overflow:visible;width:100px;float:left;position:relative;z-index:5">
                                    <div class="multi_items">
                                        <a href="index.html#town" class="button" ng-class="{selected: location.path()==='/town'}">Town</a>
                                        <a href="index.html#shop" class="button" ng-class="{selected: location.path()==='/shop'}" ng-show="player.unlock.shop">Shop</a>
                                        <a href="index.html#training" class="button" ng-class="{selected: location.path()==='/training'}" ng-show="player.unlock.training">Training</a>
                                        <a href="index.html#arena" class="button" ng-class="{selected: location.path()==='/arena'}" ng-show="player.unlock.arena">Area</a>
                                    </div>
                                </div>
                                <a href="index.html#options" class="button" ng-class="{selected: location.path()==='/options'}">Options</a>
                            </div>

                            <div style="float:right">
                                <div style="height:28px;overflow:visible;width:80px;float:left;position:relative;z-index:5;margin-right:3px;">
                                    <div class="multi_items">
                                        <button class="button" ng-class="{selected:player.inBattle,red:!player.inBattle}" ng-click="startBattle();" style="width:80px;height:28px;">
                                            {{player.inBattle ? 'Battling' : 'Start Battle'}}
                                        </button>
                                        <div style="background:#555;width:100%;">
                                            <div style="text-align:center;float:left;padding-top:7px;width:52px;">
                                                Level
                                                <br>
                                                <span style="font-size:20px;">{{player.battleLevel}}</span>
                                            </div>
                                            <div style="float:right;">
                                                <button class="button" ng-click="increaseBattleLevel()">
                                                    <i class="fa fa-arrow-up" style="color:inherit"></i>
                                                </button>
                                                <br>
                                                <button class="button" ng-click="decreaseBattleLevel()">
                                                    <i class="fa fa-arrow-down" style="color:inherit"></i>
                                                </button>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </div>
                                </div>
                                <button class="button" ng-click="player.paused = !player.paused" ng-class="{selected:player.paused}">
                                    <i class="fa fa-pause" style="color:inherit"></i>
                                </button>
                                <button class="button" ng-click="player.endlessMode = !player.endlessMode" ng-class="{selected:player.endlessMode}" ng-show="player.unlock.endlessMode">Endless</button>

                                <span ng-if="debug">
                                    <button class="button" ng-click="save();messageService.appendMessage('Game Saved!')">Save</button>
                                    <button class="button" ng-click="reset()">Reset</button>
                                </span>
                            </div>

                            <div style="clear:both"></div>
                        </div>
                    </div>
                </div>

                <div ng-view id="left_container"></div>
            </div>
        </div>

        <!-- Library -->
        <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-route.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-sanitize.min.js" type="text/javascript"></script>
		<script src="https://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="/foundation-6.5.1-complete/js/vendor/what-input.js"></script>
		<script type="text/javascript" src="/foundation-6.5.1-complete/js/vendor/foundation.min.js"></script>
        <script src="lib/lz-string.js" type="text/javascript"></script>

        <!-- Functions -->
        <script src="functions/gameFunctions.js"></script>

        <!-- App -->
        <script src="GameApp.js"></script>

        <!-- Config/Objects -->
        <script src="config/GameConfig.js"></script>

        <script src="config/items/body.js"></script>
        <script src="config/items/feet.js"></script>
        <script src="config/items/hand.js"></script>
        <script src="config/items/hands.js"></script>
        <script src="config/items/head.js"></script>
        <script src="config/items/legs.js"></script>

        <script src="config/monster/mAct.js"></script>
        <script src="config/monster/mLevelBehaviors.js"></script>
        <script src="config/monster/mBehaviors.js"></script>
        <script src="config/monster/mLevelNames.js"></script>

        <script src="config/Buildings.js"></script>
        <script src="config/PostItemConfig.js"></script>
        <script src="config/SkillTree.js"></script>
        <script src="config/StatGrowth.js"></script>
        <script src="config/StatusEffects.js"></script>
        <script src="config/Upgrades.js"></script>

        <script src="objects/Unit.js"></script>
        <script src="objects/BattleUnit.js"></script>
        <script src="objects/NameGenerator.js"></script>
        <script src="objects/Hero.js"></script>
        <script src="objects/Monster.js"></script>
        <script src="objects/Player.js"></script>
        <script src="objects/Item.js"></script>
        <script src="objects/MessageService.js"></script>
        <script src="objects/ActionCompiler.js"></script>
        <script src="objects/InventoryActionCompiler.js"></script>
        <script src="objects/BattleActions.js"></script>
        <script src="objects/Battle.js"></script>





        <!-- Controllers -->
        <script src="controllers/ActionsController.js"></script>
        <script src="controllers/ArenaController.js"></script>
        <script src="controllers/EquipController.js"></script>
        <script src="controllers/GameController.js"></script>
        <script src="controllers/HeroesController.js"></script>
        <script src="controllers/InventoryController.js"></script>
        <script src="controllers/OptionsController.js"></script>
        <script src="controllers/TownController.js"></script>
        <script src="controllers/TrainingController.js"></script>
        <script src="controllers/ShopController.js"></script>
        <script src="controllers/SkillsController.js"></script>
        <script src="controllers/StatsController.js"></script>
    </body>
</html>
