    <button class="button" ng-click="$parent.save()">Save</button>
    <button class="button" ng-click="$parent.load()">Load</button>
    <button class="button" ng-click="$parent.reset()">Reset</button>
    
    <br><br>
    
	<div class="button" ng-click="$parent.player.autoSave = !$parent.player.autoSave" ng-class="{selected:$parent.player.autoSave}">Auto Save (30 sec.)</div>
	
	<br /><br />

	<button class="button" ng-click="randomMonster()">Random Monster</button>
	
	<br /><br />

	<h2>Import/Export Data</h2>
	<textarea rows="5" cols="70" style="color:black;">{{exportSaveData}}</textarea>
	<br /><br />
	<button class="button" ng-click="exportData()">Export Data</button>
	<br /><br />
	<textarea rows="5" cols="70" style="color:black;" ng-model="importSaveData"></textarea>
	<br /><br />
	<button class="button" ng-click="importData()">Import Data</button>
	