<div ng-include="'templates/other/hero.html'"></div>

<table>
    <tr>
        <td>Physical Damage Dealt</td>
        <td width="20"/>
        <td>{{hero.gameStats.physicalDamageDealt}}</td>
    </tr>
    
    <tr>
        <td>Damage Received</td>
        <td/>
        <td>{{hero.gameStats.damageReceived}}</td>
    </tr>
    
    <tr>
        <td>Total EXP</td>
        <td/>
        <td>{{hero.gameStats.totalExp}}</td>
    </tr>
    
    <tr>
        <td>Total Times Defeated</td>
        <td/>
        <td>{{hero.gameStats.totalTimesDefeated}}</td>
    </tr>
    
    <tr>
        <td>Total Minutes Training</td>
        <td/>
        <td>{{hero.gameStats.totalMinutesTraining}}</td>
    </tr>
</table>